.vscode/
/.vscode/launch.json
/.vscode/settings.json


/docker/stateful-jenkins/jenkins_home/
/docker/grafana/grafana-data/
/docker/grafana/grafana.ini/



terraform/tf-aks/ias/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/linux_amd64/terraform-provider-random_v3.5.1_x5
terraform/tf-aks/ias/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
terraform/tf-aks/ias/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.45.0/linux_amd64/terraform-provider-azurerm_v3.45.0_x5
terraform/tf-aks/ias/terraform.tfstate.backup
terraform/tf-aks/ias/main.tfplan
terraform/tf-aks/ias/.terraform.tfstate.lock.info
terraform/tf-aks/ias/.terraform.lock.hcl
terraform/tf-aks/ias/kubeconfig
terraform/tf-aks/ias/.terraform/terraform.tfstate

